<ion-header>
  <ion-toolbar style="--background: orange;">
    <ion-title>Adopta a un condrin</ion-title>
  </ion-toolbar>

  <ion-toolbar style="--background: orange;">
    <ion-segment [value]="filtro()" (ionChange)="cambiarFiltro($event)">
      <ion-segment-button value="inicio">
        <ion-label>INICIO</ion-label>
      </ion-segment-button>
      <ion-segment-button value="adopta">
        <ion-label>ADOPTA</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (filtro() == 'inicio'){
    <img src="assets/img/condrin2.jpeg" alt="Perros esperando adopción" 
      style="width: 100%; height: 500px; object-fit: contain; border-radius: 12px;" />
  }
  @if (filtro() == 'adopta'){
    <ion-grid>
      <ion-row>
        @for (perro of perros(); track perro.id) {
          <ion-col size="6" size-md="3" style="max-width: 200px;">
            <app-tarjeta-perro [perro]="perro" (click)="irADetalle(perro.id)"></app-tarjeta-perro>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="warning" (click)="irNuevoPerro()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }


</ion-content>


<ion-footer>
  <ion-toolbar style="--background: orange;">
    <ion-title size="small" class="ion-text-center">
      Trabajamos duro por ellos. ¿Nos ayudas?
    </ion-title>
  </ion-toolbar>
</ion-footer>